html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
   
    background-color: rgb(27, 26, 26);
    color: white;
}

main, header{
    width: 500px;
    margin: 0 auto;
    border: 1px solid rgb(100, 96, 96);
}

main {
    height: 100vh;
    border: 1px solid rgb(100, 96, 96);
    overflow-y:scroll;
    overflow-x:hidden
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px #00000040;
    
}
.container-header{
    width: 100%;
    text-align: center;

}


h1{
    padding: 1rem;
    margin: 0;
}


h1:hover{
    background-color: gray;
    cursor: pointer;
}
textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
   background-color: #141313;
   padding: 0.5rem 1rem;
   color: white;
}
textarea:focus{
    outline: none;
}
.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 1rem 1rem 0;
}

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.container-of-inputs{
    display: flex;
    flex-direction: column;
    
}

.container-of-left-right{
    border-top: 1px solid rgb(100, 96, 96);
    margin:1rem 1rem 0 5rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.container-of-left-right .left-col{
    margin: 1rem 0;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-of-left-right .right-col{
    justify-self: flex-end;
    border-left: 1px solid rgb(100, 96, 96);
    margin: .5rem 0;
    display: flex;
    gap: .5rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}


.tweet{
    border-top: 1px solid rgb(100, 96, 96);
    padding: 20px 0 0 0;
    width: 100%;
    margin: 10px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-left:1rem ;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail{
    display: flex;
    gap: 4px;
    margin-top: .5rem;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 13px;
    font-weight: 700;
    color: #555;
    margin-top: 0;
    margin-bottom: 0.1rem;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
    width: 95%;
    margin-top:0 ;
}

.tweet-image{
    width: 92%;
    border-radius: 10px;
    height: auto;
  
}

.tweet-video {
    max-width: 92%;
    border-radius: 10px;
}

.post{
    border: none;
    border-radius: 10px;
    font-weight:700 ;
    color: white;
    background-color: rgb(29, 155, 240);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}