html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;

    background-color: rgb(27, 26, 26);
    color: white;
}
.hidden {
    display: none;
}
main, header{
    width: 500px;
    margin: 0 auto;
    border-bottom: 1px solid rgb(100, 96, 96);
    border-right: 1px solid rgb(100, 96, 96);
    border-left: 1px solid rgb(100, 96, 96);
}
.tweet-gif{
    width: 5rem;
    border-radius: 10px;
}
main {
    height: 100vh;
    border: 1px solid rgb(100, 96, 96);
    overflow-y:scroll;
    overflow-x:hidden
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 3px 10px #00000040;
}
.container-header{
    width: 100%;
    text-align: center;
    box-shadow: 0px 0px 1px #00000040;
}
.container-header h1:hover{
    color:white
}


.like:hover{
    color: rgb(234, 139, 139);
}

.fa-solid, .fa-regular{
    padding: .2rem .2rem .2rem .2rem;
    cursor: pointer;
}   


.fa-heart:hover{
    background-color: rgba(255, 0, 0, 0.56);
    border-radius: 50%;
    box-shadow: 0px 0px 100px red;
}

.fa-retweet:hover{
    background-color: rgba(129, 243, 135, 0.56);
    border-radius: 50%;
    box-shadow: 0px 0px 100px red;
}
.reply:hover{
    color: gray;
}
.liked {
    color: red;
}
.retweet:hover{
    color: rgb(83, 231, 83);
}
.retweeted{
    color: rgb(83, 231, 83);
}

h1{
    padding: 1rem;
    margin: 0;
    font-size: .9rem;
    color: gray;
    font-weight: 700;
}


h1:hover{
    background-color: rgba(150, 147, 147, 0.105);
    cursor: pointer;
}
textarea{
    border: none;
    resize: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
   background-color: #141313;
   padding: 0.5rem 1rem;
   color: white;
}
textarea:focus{
    outline: none;
}
.tweet-input-area {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin: 1rem 1rem 0;
}

.profile-pic{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.container-of-inputs{
    display: flex;
    flex-direction: column;
    
}

.container-of-left-right{
    border-top: 1px solid rgb(100, 96, 96);
    margin:1rem 1rem 0 5rem;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.container-of-left-right .left-col{
    margin: 1rem 0;
    align-self: flex-start;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.container-of-left-right .right-col{
    justify-self: flex-end;
    border-left: 1px solid rgb(100, 96, 96);
    margin: .5rem 0;
    display: flex;
    gap: .5rem;
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}


.tweet{
    border-top: 1px solid rgb(100, 96, 96);
    padding: 20px 0 0 0;
    width: 100%;
    margin: 10px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-left:1rem ;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
    gap: 5rem;
    margin-top: .5rem;
}

.tweet-detail{
    display: flex;
    gap: 4px;
    align-items: center;
    
}
.widthhh{
    width: 100%;
    padding: 0 1rem 0 0;
}
.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 0.2rem;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
    width: 95%;
    margin-top:0 ;
}

.tweet-image{
    width: 92%;
    border-radius: 10px;
    height: auto;
  
}

.tweet-video {
    max-width: 92%;
    border-radius: 10px;
}

.post{
    border: none;
    border-radius: 10px;
    font-weight:700 ;
    color: white;
    background-color: rgb(29, 155, 240);
    padding: 0.2rem 0.5rem;
    cursor: pointer;
}